body {
  color: #fff;
  background-color: black;
  text-align: center;
  font-family: "Contrail One", sans-serif;
}

h1 {
  color: #fff;
  font-family: "Contrail One", sans-serif;
}

.credit {
  color: #fff;
  text-align: center;
  font-family: "Contrail One", sans-serif;
}

nav a {
  margin: 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: "Contrail One", sans-serif;
}

nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1a1a1a;
  box-shadow: #1a1a1a;
}

.dev {
  color: #fff;
  margin: 5px;
}

p {
  color: #fff;
}

footer a {
  margin: 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: "Contrail One", sans-serif;
}

footer {
  margin-top: 420px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1a1a1a;
  box-shadow: #1a1a1a;
}