body {
    color: #fff;
    background-color: black;
    text-align: center;
    font-family: 'Contrail One', sans-serif;
}

h1 {
    color: #fff;
    font-family: 'Contrail One', sans-serif;
    overflow-y: hidden !important;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 50px;
}

p {
  color: #fff;
  font-family: 'Contrail One', sans-serif;
  overflow-y: hidden !important;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

nav a {
    margin: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: 'Contrail One', sans-serif;
  }

  nav {
    padding-bottom: 10px;
    background-color: #1a1a1a;
    box-shadow: #1a1a1a;
  }