body {
    color: #fff;
    background-color: black;
    text-align: center;
    font-family: 'Contrail One', sans-serif;
}

h1 {
    color: #fff;
    font-family: 'Contrail One', sans-serif;
    text-decoration: none;
  }

.suggest {
  font-size: 15px;
  color: #fff;
  font-family: 'Contrail One', sans-serif;
}
.game img, .suggest img {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 1 / 1;
}

.game, .suggest {
  width: 15%;
  border-radius: 20px;
  display: inline-block;
  background-color: var(--uibg);
  margin: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px var(--uibg);
}

* {
  transition-duration: 0.5s;
  outline: none;
  border: none;
  box-sizing: border-box;
  align-content: center;
  text-align: center;
  font-family: 'Contrail One', sans-serif;
  color: var(--textcolor);
}
nav a {
  margin: 20px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: 'Contrail One', sans-serif;
}

nav {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #1a1a1a;
  box-shadow: #1a1a1a;
}
