body {
    color: #fff;
    background-color: black;
    text-align: center;
    font-family: 'Contrail One', sans-serif;
    justify-content: space-between;
}

h1 {
    color: #fff;
    font-family: 'Contrail One', sans-serif;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 50px;
    justify-content: center;
    background-color: black;
}

h2 {
    color: #fff;
    font-family: 'Contrail One', sans-serif;
    text-decoration: none;
}

p {
    color: #fff;
    font-family: 'Contrail One', sans-serif;
    text-decoration: none;
}

nav a {
    margin: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: 'Contrail One', sans-serif;
  }


  .hacks a {
    text-decoration: none;
    color: #fff;
    font-family: 'Contrail One', sans-serif;
    text-decoration: none;
    border: 2px solid #262626;
    border-radius: 10px;
    display: inline-block;
    width: 500px;
  }

  .hacks:hover {
    color: #fff;
    background-color: #262626;
    font-family: 'Contrail One', sans-serif;
    text-decoration: none;
    border: 2px solid #262626;
    border-radius: 10px;
    text-decoration-line: none;
    display: inline-block;
    width: 500px;
  }

  nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1a1a1a;
    box-shadow: #1a1a1a;
  }