body {
    background: #000;
    color: #fff;
    padding: 20px;
    font-family: 'Contrail One', sans-serif;
    text-align: center;
  }

  h1 {
    color: #fff;
    font-size: 70px;
      font-family: 'Contrail One', sans-serif;
  }

   nav {
  color: #fff;
  display: flex;
  width: 100%;
  z-index: 1;
  justify-content: center;
  font-family: 'Contrail One', sans-serif;
}