body {
    color: #fff;
    background-color: black;
    text-align: center;
    font-family: 'Contrail One', sans-serif;
}

h1 {
    color: #fff;
    font-family: 'Contrail One', sans-serif;
  }

nav {
  color: #fff;
  display: flex;
  padding: 105px;
  width: 100%;
  z-index: 1;
  justify-content: center;
  font-family: 'Contrail One', sans-serif;
}

.credit {
    color: #fff;
    text-align: center;
    font-family: 'Contrail One', sans-serif;
}