body {
    color: #fff;
    background-color: black;
    text-align: center;
    font-family: 'Contrail One', sans-serif;
}

h1 {
    color: #fff;
    font-family: 'Contrail One', sans-serif;
  }

nav {
    color: #fff;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Contrail One', sans-serif;
}