body {
    background: #000;
    color: #fff;
    padding: 20px;
    font-family: sans-serif;
    text-align: center;
  }

  h1 {
    color: #fff;
    font-size: 70px;
  }

header {
  color: #fff;
  
}